<a href="https://colab.research.google.com/github/dominicbiela/python-challenges/blob/main/Coding_Challenges.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fibonnaci Sequence

In [ ]:
def fib(num:int)->int:
  a,b = 0,1
  for _ in range(num):
    a,b = b, b + a
  return a

In [ ]:
fib(10)

55

# Array & Hashing

## Reverse String

In [ ]:
str = "We will conquere COVID-19"

In [ ]:
str[::-1]

'91-DIVOC ereuqnoc lliw eW'

## Reverse String with words still in right order

In [ ]:
" ".join([s[::-1] for s in str.split()])

'eW lliw ereuqnoc 91-DIVOC'

## Contains duplicates

### Option 1

In [ ]:
def containsDuplicate(nums: list[int]) -> bool:
  return True if len(nums) != len(set(nums)) else False

In [ ]:
nums = [[1,2,3,1],
        [1,2,3,4],
        [1,1,1,3,3,4,3,2,4,2]]

In [ ]:
%time
for n in nums:
  print(containsDuplicate(n))

CPU times: user 6 µs, sys: 0 ns, total: 6 µs
Wall time: 10.3 µs
True
False
True

### Option 2

In [ ]:
def containsDuplicate1(nums: list[int]) -> bool:
  hashset = set()

  for n in nums:
    if n in hashset:
      return True
    hashset.add(n)
  return False

In [ ]:
from collections import defaultdict
def containsDuplicate2(nums: list[int]) -> bool:
  hashset = set()
  return any([True if n in hashset else hashset.add(n) for n in nums])

## First Duplicate

In [20]:
a = [2, 1, 3, 5, 3, 2]
b = [2, 1, 7, 5, 3, 4]

In [18]:
def firstDuplicate(nums: list[int]) -> int:
  hashset = set()
  for n in nums:
    if n in hashset:
      return n
    hashset.add(n)
  return -1

In [22]:
print(firstDuplicate(a))
print(firstDuplicate(b))

3
-1

## First Non-duplicate

In [24]:
s = "abacabad"
t = "abacabaabacaba"

In [27]:
from collections import Counter
def firstNonDuplicate(s: str) -> str:
    scount = Counter(s)
    if min(scount.values()) > 1:
        return "_"

    for i,v in enumerate(s):
        if v in scount and scount[v] == 1:
            return s[i]

In [28]:
print(firstNonDuplicate(s))
print(firstNonDuplicate(t))

c
_

## Valid Anagram

In [ ]:
s = "anagram"
t = "nagaram"

In [ ]:
def isAnagram(s: str, t: str) -> bool:
  return sorted(s) == sorted(t)

In [ ]:
from collections import Counter
def isAnagram1(s: str, t: str) -> bool:
  return Counter(s) == Counter(t)

In [ ]:
from collections import defaultdict
def isAnagram2(s: str, t: str) -> bool:
  if len(s)!= len(t):
    return False

  shash, thash = defaultdict(int), defaultdict(int)

  for i in range(len(s)):
    shash[s[i]] = 1 + shash.get(s[i],0)
    thash[s[i]] = 1 + thash.get(t[i],0)
  for c in shash:
    if shash[c] != thash.get(c,0):
      return False
  return True

In [ ]:
%time
isAnagram(s,t)

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 8.82 µs

True

In [ ]:
%time
isAnagram1(s,t)

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 7.63 µs

True

In [ ]:
%time
isAnagram2(s,t)

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 7.87 µs

False

## Two Sum

In [ ]:
nums = [2,7,11,15]
target = 9

In [ ]:
from collections import defaultdict
def twoSum(nums: list[int], target: int) -> list[int]:
  check = defaultdict(int)
  for num in nums:
    check[num] = target - num

In [ ]:
from collections import defaultdict
def twoSum(nums: list[int], target: int) -> list[int]:
  check = defaultdict(int)
  for i,v in enumerate(nums):
    diff = target - v
    if diff in check:
      return [check[diff], i]
    check[v] = i
  return

In [ ]:
twoSum(nums,target)

[0, 1]

In [ ]:
list(enumerate(nums))

[(0, 2), (1, 7), (2, 11), (3, 15)]

In [ ]:
a = {2:7,7:2,11:-2,15:-6}
if a[2] in [2,7,11,15]:
  print([a[2], a[2]==[2,7,11,15]])

[7, False]

## Group Anagrams

In [ ]:
strs = ["eat","tea","tan","ate","nat","bat"]

In [ ]:
from collections import defaultdict
def groupAnagrams(strs:list[str])-> list[list[str]]:
  group = defaultdict(list)
  for s in strs:
    sort = "".join(sorted(s))
    group[sort].append(s)
  return list(group.values())

In [ ]:
groupAnagrams(strs)

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

Roman numerals are represented by seven different symbols: I, V, X, L, C, D and M.

Symbol       Value
I             1
V             5
X             10
L             50
C             100
D             500
M             1000
For example, 2 is written as II in Roman numeral, just two ones added together. 12 is written as XII, which is simply X + II. The number 27 is written as XXVII, which is XX + V + II.

Roman numerals are usually written largest to smallest from left to right. However, the numeral for four is not IIII. Instead, the number four is written as IV. Because the one is before the five we subtract it making four. The same principle applies to the number nine, which is written as IX. There are six instances where subtraction is used:

I can be placed before V (5) and X (10) to make 4 and 9.
X can be placed before L (50) and C (100) to make 40 and 90.
C can be placed before D (500) and M (1000) to make 400 and 900.
Given a roman numeral, convert it to an integer.

In [ ]:
def romanToInt(s: str) -> int:
  roman = {
      "I":1,
      "V":5,
      "X":10,
      "L":50,
      "C":100,
      "D":500,
      "M":1000
      }
  value = 0
  for i in range(len(s)-1):
      if roman[s[i]] < roman[s[(i+1)]]:
          value -= roman[s[i]]
      else:
          value += roman[s[i]]
  return value+roman[s[-1]]

In [ ]:
romanToInt('MIV')

1004

## Remove element

In [ ]:
nums = [0,1,2,2,3,0,4,2]
val = 3

In [ ]:
def removeElement(nums: list[int], val: int) -> int:
  while val in nums:
    nums.remove(val)
  return nums

In [ ]:
removeElement(nums, val)

[0, 1, 2, 2, 0, 4, 2]

## Maximum Subarray

Turn into a class = return the maxSubArray sum and maxSubArray array

In [ ]:
def maxSubArray(nums: list[int]) -> int:
    maxSum,subArray = nums[0],0

    for i in range(len(nums)):
        subArray += nums[i]
        maxSum = max(maxSum, subArray)
        subArray = max(subArray, 0)
    return maxSum

In [ ]:
maxSubArray([-2,1,-3,4,-1,2,1,-5,4])

6

## centuryFromYear

In [1]:
def centuryFromYear(year:int) -> int:
  return (year + 99) // 100

In [13]:
centuryFromYear(2010)

21

In [6]:
def centuryFromYear1(year:int) -> int:
  if len(str(year)) <= 2:
    return 1

  elif len(str(year)) == 3:
    if year % 10 == 0:
      return int(str(year)[0])
    else:
      return int(str(year)[0]) + 1

  elif len(str(year)) == 4:
    if year % 10 == 0:
      return int(str(year)[:2])
    else:
      return int(str(year)[:2]) + 1

In [12]:
centuryFromYear1(2010)

20

## Longest Prefix

In [ ]:
strs = ["flower","flow","flight"]

In [ ]:
def longestCommonPrefix(strs: list[str]) -> str:
  ans = ""
  w = sorted(strs)
  f,l = w[0],w[-1]
  for i in range(min(len(f),len(l))):
      if f[i] != l[i]:
          return ans
      else:
          ans += f[i]
  return ans

In [ ]:
longestCommonPrefix(strs)

'fl'

In [ ]:
for i, chars in enumerate(zip(*strs)):
  print(chars)

('f', 'f', 'f')
('l', 'l', 'l')
('o', 'o', 'i')
('w', 'w', 'g')

zip takes iterables and returns a single iterator object, therefore, running all at the same time.

So combining it with enumerate(zip(*)) returns:

0 (f,f,f)

---
1 (l,l,l)

---
2 (o,o,i)

---

In [ ]:
def longestCommonPrefix1(strs: list[str]) -> str:
  result = ""
  for i, chars in enumerate(zip(*strs)):
      if len(set(chars)) != 1:
          return result
      result += chars[0]
  return result

In [ ]:
longestCommonPrefix1(strs)

'fl'

## missingNumbers

In [12]:
numbers = [6,3,2,8]

In [15]:
def missingNumbers(numbers:list[int])-> int:
  result = 0
  numbers.sort()
  for i in range(min(numbers),max(numbers)):
    if i not in numbers:
      result += 1
  return result

In [16]:
missingNumbers(numbers)

3

In [17]:
def missingNumbersListComp(numbers:list[int])-> int:
  return sum([1 for i in range(min(numbers),max(numbers)) if i not in numbers])

In [18]:
missingNumbersListComp(numbers)

3

In [19]:
def missingNumbersFormula(numbers:list[int])-> int:
  return max(numbers) - min(numbers) - len(numbers) + 1

In [20]:
missingNumbersFormula(numbers)

3

## matrixElementsSum

Add up all the values that don't appear below a 0, within a matrix

In [2]:
matrix = [[0, 1, 1, 2],
          [0, 5, 0, 0],
          [2, 0, 3, 3]]

e.g. 1 + 5 + 1 + 2 = 9

In [1]:
def matrixElementsSum(matrix: list[list[int]])-> int:
  sum = 0
  for i, value in enumerate(zip(*matrix)):
    for v in value:
      if v == 0:
        break
      else:
        sum += v
  return sum

In [3]:
matrixElementsSum(matrix)

9

## commonCharacterCount

In [5]:
s1 = "aabcc"
s2 = "adcaa"

### Option 1

In [7]:
from collections import Counter
def commonCharacterCount(s1: str, s2: str)-> int:
    result = 0
    s1count = Counter(s1)
    s2count = Counter(s2)
    for k,v in s1count.items():
        if k in s2count:
            result += min(s1count[k],s2count[k])
    return result

In [8]:
commonCharacterCount(s1,s2)

3

### Option 2

In [12]:
from collections import Counter
def commonCharacterCountListCom(s1: str, s2: str)-> int:
  result = 0
  s1count = Counter(s1)
  s2count = Counter(s2)
  return sum(min(s1count[k],s2count[k]) for k,v in s1count.items() if k in s2count)

In [14]:
commonCharacterCountListCom(s1,s2)

3

### Option 3 - dict & dict

In [10]:
from collections import Counter
def commonCharacterCount1(s1: str, s2: str)-> int:
    s1count = Counter(s1)
    s2count = Counter(s2)
    intersection = s1count & s2count
    return sum(intersection.values())

In [11]:
commonCharacterCount1(s1,s2)

3

## rotateImage

In [30]:
a = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

solution(a) =
```
[[7, 4, 1],
[8, 5, 2],
[9, 6, 3]]
```

In [29]:
def rotateImage(a):
    rotate = []
    for i,v in enumerate(zip(*a)):
        rotate.append(v[::-1])
    return rotate

In [31]:
rotateImage(a)

[(7, 4, 1), (8, 5, 2), (9, 6, 3)]

In [32]:
def rotateImage1(a):
    return list(zip(*reversed(a)))

In [33]:
rotateImage1(a)

[(7, 4, 1), (8, 5, 2), (9, 6, 3)]

## sudoku

Is it a valid sudoku grid?
Check horizon, vertical, and 3x3 grid. Can only contain 1-9 once



```
grid = [['.', '.', '.', '1', '4', '.', '.', '2', '.'],
        ['.', '.', '6', '.', '.', '.', '.', '.', '.'],
        ['.', '.', '.', '.', '.', '.', '.', '.', '.'],
        ['.', '.', '1', '.', '.', '.', '.', '.', '.'],
        ['.', '6', '7', '.', '.', '.', '.', '.', '9'],
        ['.', '.', '.', '.', '.', '.', '8', '1', '.'],
        ['.', '3', '.', '.', '.', '.', '.', '.', '6'],
        ['.', '.', '.', '.', '.', '7', '.', '.', '.'],
        ['.', '.', '.', '5', '.', '.', '.', '7', '.']]
```

true



```
grid = [['.', '.', '.', '.', '2', '.', '.', '9', '.'],
        ['.', '.', '.', '.', '6', '.', '.', '.', '.'],
        ['7', '1', '.', '.', '7', '5', '.', '.', '.'],
        ['.', '7', '.', '.', '.', '.', '.', '.', '.'],
        ['.', '.', '.', '.', '8', '3', '.', '.', '.'],
        ['.', '.', '8', '.', '.', '7', '.', '6', '.'],
        ['.', '.', '.', '.', '.', '2', '.', '.', '.'],
        ['.', '1', '.', '2', '.', '.', '.', '.', '.'],
        ['.', '2', '.', '.', '3', '.', '.', '.', '.']]
```

false

In [1]:
grid = [['.', '.', '.', '1', '4', '.', '.', '2', '.'],
        ['.', '.', '6', '.', '.', '.', '.', '.', '.'],
        ['.', '.', '.', '.', '.', '.', '.', '.', '.'],
        ['.', '.', '1', '.', '.', '.', '.', '.', '.'],
        ['.', '6', '7', '.', '.', '.', '.', '.', '9'],
        ['.', '.', '.', '.', '.', '.', '8', '1', '.'],
        ['.', '3', '.', '.', '.', '.', '.', '.', '6'],
        ['.', '.', '.', '.', '.', '7', '.', '.', '.'],
        ['.', '.', '.', '5', '.', '.', '.', '7', '.']]

In [5]:
def check_unique(nums: list[int])-> bool:
  s = set()
  for i in nums:
    if i == ".":
      continue
    elif i in s:
      return False
    else:
      s.add(i)
  return True

def sudoku(grid: list[list[int|str]])-> bool:
  for line in grid:
    if not check_unique(line):
      return False

  for k,v in enumerate(zip(*grid)):
    if not check_unique(v):
      return False

  for i in range(0,9,3):
    for j in range(0,9,3):
      if not check_unique(grid[i][j:j+3]+grid[i+1][j:j+3]+grid[i+2][j:j+3]):
        return False
  return True

In [6]:
sudoku(grid)

True

## isCryptSolution

In [6]:
crypt1 = ["SEND", "MORE", "MONEY"]
solution1 = [['O', '0'],
            ['M', '1'],
            ['Y', '2'],
            ['E', '5'],
            ['N', '6'],
            ['D', '7'],
            ['R', '8'],
            ['S', '9']]

In [7]:
crypt2 = ["TEN", "TWO", "ONE"]
solution2 = [['O', '1'],
            ['T', '0'],
            ['W', '9'],
            ['E', '5'],
            ['N', '4']]

In [4]:
from collections import defaultdict
def isCryptSolution(crypt: list[str], solution:list[list[str,int]])->bool:
    hashmap = defaultdict(int)
    for line in solution:
        hashmap[line[0]] = line[1]

    l = []
    for word in crypt:
        numbers = []
        for letter in word:
            numbers.append(hashmap[letter])
        l.append(''.join(numbers))

    leadingBlank = False
    if l[0][0] == '0' or l[1][0] == '0' or l[2][0] == '0':
        leadingBlank = True

    if int(l[0]) + int(l[1]) == int(l[2]):
        if leadingBlank and len(l[2]) == 1:
            return True
        elif leadingBlank:
            return False
        else:
            return True
    else:
        return False

In [8]:
print(isCryptSolution(crypt1, solution1))
print(isCryptSolution(crypt2, solution2))

True
False

# Two Pointers (Sliding Window)

## Valid Palindrome

In [ ]:
import re
def isPalindrome(s: str) -> bool:
    p = "".join(re.findall(r"[a-zA-Z0-9]",s)).lower()
    return True if p == p[::-1] else False

In [ ]:
def isPalindrome1(s: str) -> bool:
    string = []
    for i in s.lower():
      if i.isalnum():
        string.append(i)
    return string == string[::-1]

In [ ]:
def isPalindrome2(s: str) -> bool:
   p = [i for i in s.lower() if i.isalnum()]
   return p == p[::-1]

In [ ]:
def palindrome(s: str) -> bool:
  str = ""
  for i in s.lower():
    if i.isalnum():
      str+=i
  return str == str[::-1]

In [ ]:
for i in s:
  print(palindrome(i))

True
False
True

In [ ]:
s = ["A man, a plan, a canal: Panama","race a car"," "]

In [ ]:
%time
for i in s:
  print(isPalindrome(i))

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 6.91 µs
True
False
True

In [ ]:
%time
for i in s:
  print(isPalindrome1(i))

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 7.15 µs
True
False
True

In [ ]:
%time
for i in s:
  print(isPalindrome2(i))

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 7.63 µs
True
False
True

## Palindrome for a Number

In [ ]:
def numPalindrome(n: int) -> bool:
  if n < 0:
    return False

  temp = n
  reverse = 0

  while temp != 0:
    digit = n % 10
    reverse = reverse * 10 + digit
    temp //= 10
  return reverse == n

In [ ]:
numPalindrome(1001)

False

## 2 Point Sum - Sorted list

In [ ]:
def twoSum(numbers:list[int], target:int) -> list[int]:
  l,r = 0,len(numbers)-1
  while numbers[l]+numbers[r]!=target:
    sum = numbers[l]+numbers[r]
    if sum < target:
      l+=1
    elif sum > target:
      r-=1
  return [l+1,r+1]

# Sliding Window

## Buy Low Sell High Stocks

In [ ]:
prices = [7,1,5,3,6,4]

In [ ]:
l = sorted(list(enumerate(prices)), key=lambda x:x[1])
print(l)

[(1, 1), (3, 3), (5, 4), (2, 5), (4, 6), (0, 7)]

In [ ]:
buy=prices[0]
sell=prices[0]
current_profit = sell-buy
for price in prices:
  if price < buy:
    buy = price
    sell = price
  if price > sell:
    sell = price
current_profit = sell-buy
print(current_profit)

5

In [ ]:
def maxProfit(prices: list) -> int:
  buy, sell = prices[0], prices[0]
  current_profit = sell-buy
  for price in prices:
    if price < buy:
      buy=price
      sell=price
    if price > sell:
      sell=price
    if sell - buy > current_profit:
      current_profit = sell - buy
  return current_profit

In [ ]:
def maxProfit1(prices: list) -> int:
  buy, sell = 0,1
  max_profit = 0
  while sell < len(prices):
    if prices[buy] < prices[sell]:
      profit = prices[sell] - prices[buy]
      max_profit = max(max_profit, profit)
    else:
      buy = sell
    sell += 1
  return max_profit

In [ ]:
%time
maxProfit(prices)

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 8.58 µs

5

In [ ]:
%time
maxProfit1(prices)

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 8.11 µs

5

# Stack

## Valid Closing Parentheses (LIFO)

In [ ]:
def isValid(s: str) -> bool:
  stack = []
  pairs = {
      '(':')',
      '{':'}',
      '[':']'
  }
  for bracket in s:
    if bracket in pairs:
      stack.append(bracket)
    elif len(stack)==0 or bracket != pairs[stack.pop()]:
      return False

  return len(stack)==0

In [ ]:
isValid("()[]{}")

True

## Stack Class

In [ ]:
from collections import deque
class Stack:
    def __init__(self):
        self.container = deque()

    def push(self,val):
        self.container.append(val)

    def pop(self):
        return self.container.pop()

    def peek(self):
        return  self.container[-1]

    def is_empty(self):
        return len(self.container)==0

    def size(self):
        return len(self.container)

In [ ]:
"""
is_balanced("({a+b})")     --> True
is_balanced("))((a+b}{")   --> False
is_balanced("((a+b))")     --> True
is_balanced("))")          --> False
is_balanced("[a+b]*(x+2y)*{gg+kk}") --> True
"""

'\nis_balanced("({a+b})")     --> True\nis_balanced("))((a+b}{")   --> False\nis_balanced("((a+b))")     --> True\nis_balanced("))")          --> False\nis_balanced("[a+b]*(x+2y)*{gg+kk}") --> True\n'

### Solution using Class from codebasics Youtube challenge

In [ ]:
def is_match(ch1, ch2):
    match_dict = {
        ')': '(',
        ']': '[',
        '}': '{'
    }
    return match_dict[ch1] == ch2


def is_balanced1(s):
    stack = Stack()
    for ch in s:
        if ch=='(' or ch=='{' or ch == '[':
            stack.push(ch)
        if ch==')' or ch=='}' or ch == ']':
            if stack.size()==0:
                return False
            if not is_match(ch,stack.pop()):
                return False

    return stack.size()==0

In [ ]:
%time is_balanced1("({a+b})")

CPU times: user 18 µs, sys: 3 µs, total: 21 µs
Wall time: 26.2 µs

True

# Binary Search

In [ ]:
nums = [-1,0,3,5,9,12]
nums1 = []
target = 9

In [ ]:
def search(nums: list[int], target: int)-> int:
  find = [i for i,v in enumerate(nums) if v == target]
  if find == []:
    return -1
  return find[0]

In [ ]:
search(nums1, target)

-1

## Binary Search approach O(logn)

In [ ]:
def search1(nums: list[int], target: int)-> int:
  l,r = 0, len(nums)-1 # l = left, r = right
  while l <= r:
    m = l +((r-l)//2) # m = mid point
    if nums[m] > target:
      r = m - 1
    elif nums[m] < target:
      l = m + 1
    else:
      return m
  return -1

## Largest Subarray

In [ ]:
nums = [-2,1,-3,4,-1,2,1,-5,4]

In [ ]:
def maxSubArray(nums: list[int]) -> int:
  maxsum = nums[0]
  sum = 0

  for num in nums:
    if sum < 0:
      sum = 0
    sum += num
    maxsum = max(maxsum, sum)
  return maxsum

In [ ]:
maxSubArray(nums)

6

In [ ]:
def returnSubArray(nums: list[int]) -> list[int]:
  maxsum = [nums[0]]
  cursum = []

  for num in nums:
    if sum(cursum) < 0:
      cursum = []
    cursum.append(num)
    cursubsum = sum(cursum)
    maxsubsum = sum(maxsum)
    if cursubsum > maxsubsum:
      maxsum = cursum
  return maxsum

In [ ]:
returnSubArray(nums)

[4, -1, 2, 1, -5, 4]

In [ ]:
def maxSubArray1(nums: list[int]) -> int:
  maxSum,subArray = nums[0],0

  for i in range(len(nums)):
    subArray += nums[i]
    maxSum = max(maxSum, subArray)
    subArray = max(subArray, 0)
  return maxSum

In [ ]:
maxSubArray1([-1])

-1

# Heap / Priority Queue

## Kth Largest Element In a Stream

In [ ]:
import heapq
class KthLargest:

    def __init__(self, k: int, nums: list[int]):
        self.k = k
        self.heap = nums
        heapq.heapify(self.heap)
        while len(self.heap) > k:
            heapq.heappop(self.heap)

    def add(self, val: int) -> int:
        heapq.heappush(self.heap, val)
        if self.k < len(self.heap):
            heapq.heappop(self.heap)

        return self.heap[0]

In [ ]:
obj = KthLargest(3, [4, 5, 8, 2])
param_1 = obj.add(6)
print(param_1)

5

# Linked List

## Reverse Linked List

In [ ]:
# Definition for singly-linked list.
def reverseList(self, head: Optional[ListNode]) -> Optional[ListNode]:

  prev, curr = None, head
  while curr:
      nxt = curr.next
      curr.next = prev
      prev = curr
      curr = nxt
  return prev

## Merge Two Sorted Lists

In [ ]:
def mergeTwoLists(self,
                  list1: Optional[ListNode],
                  list2: Optional[ListNode]) -> Optional[ListNode]:
   dummy = ListNode()
   tail = dummy

   while list1 and list2:
       if list1.val < list2.val:
           tail.next = list1
           list1 = list1.next
       else:
           tail.next = list2
           list2 = list2.next
       tail = tail.next

   if list1:
       tail.next = list1
   elif list2:
       tail.next = list2

   return dummy.next

## removeKFromList

In [4]:
l = [3, 1, 2, 3, 4, 5]
k = 3

In [38]:
from typing import TypeAlias, Optional

ListNode: TypeAlias

class Node(object):
  def __init__(self, value=None, next=None):
    self.value = value
    self.next = next

class ListNode(Node):
  def __init__(self: Optional['ListNode'], head=None):
    self.head = head

  def print(self: Optional['ListNode']):
    if self.head == None:
      print('Linked list is empty')
      return

    itr = self.head
    llstr = ''

    while itr:
      llstr += str(itr.value)+'-->'
      itr = itr.next
    print(llstr)

  def removeKFromList(self: Optional['ListNode'], k: int)-> None:
    while self.head and self.head.value == k:
      self.head = self.head.next

    if self.head is None:
      return l

    curr = self.head

    while curr.next:
      if curr.next.value == k:
        curr.next = curr.next.next
      else:
        curr = curr.next

In [39]:
# Create a new instance of the ListNode class
linked_list = ListNode()

# Add nodes to the linked list
linked_list.head = Node(1)
linked_list.head.next = Node(2)
linked_list.head.next.next = Node(3)
linked_list.head.next.next.next = Node(2)
linked_list.head.next.next.next.next = Node(4)

# Print Linked List before removal
linked_list.print()

# Call the removeKFromList method on the linked list
new_head = linked_list.removeKFromList(2)

# Print Linked List after removal
linked_list.print()

1-->2-->3-->2-->4-->
1-->3-->4-->

# Extra

## Spotify interview question

For the `window_size` defined in the constructor, when accept() is called,
return the average of the last `window_size` values seen.  If we haven't
seen `window_size` values yet, return the average of the values we have
seen.

i.e: If `window_size` == 3, then when accept(x) is called return the
average of the last 3 numbers `accept` has recieved.

In [ ]:
import unittest

class WindowedAverager:

    # Constructor
    def __init__(self, window_size: int):
        self.window_size = window_size
        """
        Include a list to save each value of 'accept' to know what to
        average across
        """
        self.l = []

    def accept(self, x: int) -> float:
        """
        Args:
            x (int): The value to add to the window

        Returns:
            float: The average of the last `window_size` values seen.  If we
                haven't seen `window_size` values yet, return the average
                of all values currently in the window.
        """
        self.l.append(x)
        if len(self.l) > self.window_size:
            self.l.pop(0)

        return sum(self.l)/ len(self.l)



# RUNNER - DO NOT CHANGE
class TestHandler(unittest.TestCase):
    def test_handler(self):
        sh = WindowedAverager(3)
        self.assertEqual(sh.accept(1), 1.0)
        self.assertEqual(sh.accept(2), 1.5)
        self.assertEqual(sh.accept(3), 2.0)
        self.assertEqual(sh.accept(4), 3.0)

testclass = unittest.main(exit=False)
if testclass.result.wasSuccessful():
    print("Test pass -- woohoo!")

In [ ]:
def accept(x: int, window_size: int) -> float:
  l = []
  l.append(x)
  if len(l) > window_size:
    l.pop(0)
  return sum(l)/ len(l)

## shapeArea

![Screenshot 2023-10-14 at 16.18.30.png]()

In [1]:
def shapeArea(n: int) -> int:
    if n == 0:
        return 0
    elif n == 1:
        return 1

    value = 1
    for i in range(1,n+1):
        value += (i-1) * 4
    return value

In [9]:
shapeArea(3)

13

In [2]:
def shapeAreaFormula(n: int) -> int:
  return n**2 + (n-1)**2

In [11]:
shapeAreaFormula(4)

25